<!-- FOOTER -->
<footer class="container text-center mt-5">
	<p>{{ setting.find(1).title }}
		-
		{{ setting.find(1).phone }}
		-
		{{ setting.find(1).email }}</p>
	<p>&copy;
		{{ "now" | date("Y") }}
		{{ setting.find(1).title }}
		&middot;
		<a href="{{ path('legal') }}">Mentions légales</a>
		&middot;
		<a href="{{ path('term') }}">CGV</a>
	</p>
	<p class="text-center text-muted">
		<small>- Création Mattéo Dauchez -</small>
	</p>
</footer>
